<h1> WATCHLIST</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Length</th>
    <th>Actions</th>
  </tr>
  {% for movie in movies %}
  <tr>
    <td><a href="https://letterboxd.com/film/{{ movie.title.replace(' ', '-').lower() }}"> {{ movie.title }}</a></td>
    <td>{{ movie.year }}</td>
    <td>{{ movie.length }}</td>
    <td>
      <a href="/movies/{{ movie.id }}/review">Review</a>
      <a href="/movies/{{ movie.id }}/delete">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
<script>

</script>