{% extends "index.html" %}
{% block title %}WATCHLIST{% endblock %}


{% block content %}
<table>
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Length</th>
    <th>Actions</th>
  </tr>
  {% for movie in movies %}
  <tr>
    <td><a href="https://letterboxd.com/film/{{ movie.url }}"> {{ movie.title }}</a></td>
    <td>{{ movie.year }}</td>
    <td>{{ movie.length }}</td>
    <td>
      <a href="/movies/{{ movie.url }}/review">Review</a>
      <a href="/movies/{{ movie.id }}/delete">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}